body { 
    background: #444; 
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

#wardrobe {
    position: relative;
    width: 705px;
    margin: 100px auto;
}

#wardrobe #wardrobe_prev {
    position: absolute;
    background: transparent url('../img/controls_left.png') 0 0 no-repeat;
    display: block;
    width: 17px;
    height: 35px;
    left: -16px;
    top: 44px;
    outline: 0;
}
#wardrobe #wardrobe_next {
    position: absolute;
    background: transparent url('../img/controls_right.png') 0 0 no-repeat;
    display: block;
    width: 18px;
    height: 34px;
    right: -16px;
    top: 44px;
    outline: 0;
}

#wardrobe .items {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 122px;
    padding: 0 5px;
    overflow: hidden;
}
#wardrobe_slider {
    left: 0;
    position: relative;
    z-index: 5;
}
#wardrobe .wardrobe_item {
    -moz-box-shadow:inset 0 0 21px #f0e8dd;
    -webkit-box-shadow:inset 0 0 21px #f0e8dd;
    box-shadow:inset 0 0 21px #f0e8dd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 161px;
    height: 102px;
    line-height: 102px;
    float: left;
    margin:10px 6px;
    text-align: center;
    position: relative;
}
#wardrobe .wardrobe_item:hover {
    cursor: pointer;
}
#wardrobe .wardrobe_item img {
    vertical-align: middle;
}